<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @workspace.name %> - Keypod</title>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.min.js"></script>
		<link rel="stylesheet" href="/assets/css/workspace.css">
		<script src="https://kit.fontawesome.com/e04b7045d3.js" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
  </head>
  <body>
		<header>
			<div>
				<% if session[:user].presence && @workspace.user_id == session_user.id %>
					<a href="/">
						<i class="fas fa-step-backward"></i>
						<h1>戻る</h1>
					</a>
				<% else %>
					<a href="/">
						<i class="fas fa-home"></i>
						<h1>ホームに戻る</h1>
					</a>
				<% end %>
			</div>
			<div>
				<a class="share">
					<textarea id="js-copytext">https://keypod.net/workspace/<%= @workspace.url %></textarea>
					<i class="fas fa-share"></i>
					<h1>共有</h1>
				</a>
			</div>
		</header>

		<div id="p5_loading">
			<div class="hollow-dots-spinner" :style="spinnerStyle">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>

		<div class="alert">
			<p>URLをコピーしました!</p>
		</div>

		<div class="keyboard">
			<div class="keyboard__row">
				<div class="key--double">
				</div>
				<div class="key--letter js-modal-open" id="1" data-key="49" data-target="modal_1">
					<div>1</div>
					<small><%= @workspace.keys.find_by(key: "1").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="2" data-key="50" data-target="modal_2">
					<div>2</div>
					<small><%= @workspace.keys.find_by(key: "2").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="3" data-key="51" data-target="modal_3">
					<div>3</div>
					<small><%= @workspace.keys.find_by(key: "3").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="4" data-key="52" data-target="modal_4">
					<div>4</div>
					<small><%= @workspace.keys.find_by(key: "4").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="5" data-key="53" data-target="modal_5">
					<div>5</div>
					<small><%= @workspace.keys.find_by(key: "5").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="6" data-key="54" data-target="modal_6">
					<div>6</div>
					<small><%= @workspace.keys.find_by(key: "6").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="7" data-key="55" data-target="modal_7">
					<div>7</div>
					<small><%= @workspace.keys.find_by(key: "7").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="8" data-key="56" data-target="modal_8">
					<div>8</div>
					<small><%= @workspace.keys.find_by(key: "8").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="9" data-key="57" data-target="modal_9">
					<div>9</div>
					<small><%= @workspace.keys.find_by(key: "9").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="0" data-key="48" data-target="modal_0">
					<div>0</div>
					<small><%= @workspace.keys.find_by(key: "0").description %></small>
				</div>
				<div class="key--double">
				</div>
				<div class="key--double">
				</div>
				<div class="key--bottom-right key--word key--w4">
				</div>
			</div>
			<div class="keyboard__row">
				<div class="key--bottom-left key--word key--w4">
				</div>
				<div class="key--letter js-modal-open" id="q" data-char="Q" data-target="modal_q">Q<br>
					<small><%= @workspace.keys.find_by(key: "q").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="w" data-char="W" data-target="modal_w">W<br>
					<small><%= @workspace.keys.find_by(key: "w").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="e" data-char="E" data-target="modal_e">E<br>
					<small><%= @workspace.keys.find_by(key: "e").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="r" data-char="R" data-target="modal_r">R<br>
					<small><%= @workspace.keys.find_by(key: "r").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="t" data-char="T" data-target="modal_t">T<br>
					<small><%= @workspace.keys.find_by(key: "t").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="y" data-char="Y" data-target="modal_y">Y<br>
					<small><%= @workspace.keys.find_by(key: "y").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="u" data-char="U" data-target="modal_u">U<br>
					<small><%= @workspace.keys.find_by(key: "u").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="i" data-char="I" data-target="modal_i">I<br>
					<small><%= @workspace.keys.find_by(key: "i").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="o" data-char="O" data-target="modal_o">O<br>
					<small><%= @workspace.keys.find_by(key: "o").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="p" data-char="P" data-target="modal_p">P<br>
					<small><%= @workspace.keys.find_by(key: "p").description %></small>
				</div>
				<div class="key--double" data-char="{[">
				</div>
				<div class="key--double" data-char="}]">
				</div>
				<div class="key--double" data-char="|\">
				</div>
			</div>
			<div class="keyboard__row">
				<div class="key--bottom-left key--word key--w5">
				</div>
				<div class="key--letter js-modal-open" id="a" data-char="A" data-target="modal_a">A<br>
					<small><%= @workspace.keys.find_by(key: "a").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="s" data-char="S" data-target="modal_s">S<br>
					<small><%= @workspace.keys.find_by(key: "s").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="d" data-char="D" data-target="modal_d">D<br>
					<small><%= @workspace.keys.find_by(key: "d").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="f" data-char="F" data-target="modal_f">F<br>
					<small><%= @workspace.keys.find_by(key: "f").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="g" data-char="G" data-target="modal_g">G<br>
					<small><%= @workspace.keys.find_by(key: "g").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="h" data-char="H" data-target="modal_h">H<br>
					<small><%= @workspace.keys.find_by(key: "h").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="j" data-char="J" data-target="modal_j">J<br>
					<small><%= @workspace.keys.find_by(key: "j").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="k" data-char="K" data-target="modal_k">K<br>
					<small><%= @workspace.keys.find_by(key: "k").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="l" data-char="L" data-target="modal_l">L<br>
					<small><%= @workspace.keys.find_by(key: "l").description %></small>
				</div>
				<div class="key--double">
				</div>
				<div class="key--double">
				</div>
				<div class="key--bottom-right key--word key--w5">
				</div>
			</div>
			<div class="keyboard__row">
				<div class="key--bottom-left key--word key--w6">
				</div>
				<div class="key--letter js-modal-open" id="z" data-char="Z" data-target="modal_z">Z<br>
					<small><%= @workspace.keys.find_by(key: "z").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="x" data-char="X" data-target="modal_x">X<br>
					<small><%= @workspace.keys.find_by(key: "x").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="c" data-char="C" data-target="modal_c">C<br>
					<small><%= @workspace.keys.find_by(key: "c").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="v" data-char="V" data-target="modal_v">V<br>
					<small><%= @workspace.keys.find_by(key: "v").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="b" data-char="B" data-target="modal_b">B<br>
					<small><%= @workspace.keys.find_by(key: "b").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="n" data-char="N" data-target="modal_n">N<br>
					<small><%= @workspace.keys.find_by(key: "n").description %></small>
				</div>
				<div class="key--letter js-modal-open" id="m" data-char="M" data-target="modal_m">M<br>
					<small><%= @workspace.keys.find_by(key: "m").description %></small>
				</div>
				<div class="key--double">
				</div>
				<div class="key--double">
				</div>
				<div class="key--double">
				</div>
				<div class="key--bottom-right key--word key--w6">
				</div>
			</div>
			<div class="keyboard__row keyboard__row--h3">
				<div class="key--bottom-left key--word">
				</div>
				<div class="key--bottom-left key--word key--w1">
				</div>
				<div class="key--bottom-left key--word key--w1">
				</div>
				<div class="key--bottom-right key--word key--w3">
				</div>
				<div class="key--letter key--right key--space" data-key="32" data-char=" ">
					<span>Stop</span>
				</div>
				<div class="key--bottom-left key--word key--w3">
				</div>
				<div class="key--bottom-left key--word key--w1">
				</div>
				<div class="key--arrow">
				</div>
				<div class="key--double key--arrow--tall">
				</div>
				<div class="key--arrow">
				</div>
			</div>
		</div>

		<% @strs.each do |str| %>
			<% unless @workspace.keys.find_by(key: str).path == nil %>
				<% if @workspace.keys.find_by(key: str).data_type == "youtube" %>
					<div id="player_<%= str %>" style="display: none;"></div>
				<% end %>
			<% end %>
			<% if session[:user].presence && @workspace.user_id == session_user.id %>
				<div id="modal_<%= str %>" class="modal js-modal">
					<div class="modal__bg js-modal-close"></div>
						<div class="modal__content">
							<div>
								<h1>"<%= @workspace.keys.find_by(key: str).key.upcase %>"キーを編集する</h1>
								<a class="js-modal-close" href=""><i class="fas fa-times"></i></a>
							</div>
							<div>
								<form action="/workspace/edit/<%= @workspace.url %>/<%= @workspace.keys.find_by(key: str).id %>" method="post" enctype="multipart/form-data">
									<h2>音声ファイルを追加する</h2>
									<br>
									<label id="file_label_<%= str %>" class="file_label" for="file_<%= str %>">
										<p class="file_label_in_text" style="margin: 0;">ファイルを選択する</p>
										<input type="file" id="file_<%= str %>" name="file" onChange="fileUpload()" required>
										<script>
											function fileUpload() {
												$(".file_label").css('background','#011a27');
												$(".file_label").css('border-bottom','solid 4px #000a17');
												$(".file_label_in_text").text('ファイルを選択済み');
											}
										</script>
									</label>
									<input type="text" name="description" value="<%= @workspace.keys.find_by(key: str).description %>" placeholder="説明">
									<br>
									<input type="submit" value="アップロード">
								</form>
								<form action="/workspace/edit/<%= @workspace.url %>/<%= @workspace.keys.find_by(key: str).id %>" method="post">
									<h2>YouTube動画を追加する</h2>
									<br>
									<input type="text" name="youtube" placeholder="YouTube Video URL" required>
									<br>
									<input type="text" name="description" value="<%= @workspace.keys.find_by(key: str).description %>" placeholder="説明">
									<br>
									<input type="submit" value="YouTubeでアップロード">
								</form>
							</div>
							<div>
								<form action="/workspace/edit/<%= @workspace.url %>/<%= @workspace.keys.find_by(key: str).id %>" method="post">
									<h2>説明を編集する</h2>
									<br>
									<input type="text" name="description" value="<%= @workspace.keys.find_by(key: str).description %>" placeholder="説明" required>
									<br>
									<input type="submit" value="説明を編集する">
								</form>
								<form action="/workspace/edit/delete/<%= @workspace.url %>/<%= @workspace.keys.find_by(key: str).id %>" method="post">
									<h2>登録したデータを削除</h2>
									<br>
									<input type="submit" value="登録したデータを削除">
								</form>
							</div>
						</>
					</div>
				</div>
			<% end %>
		<% end %>

		<script>
			var ytData = [
				<% @strs.each do |str| %>
					<% unless @workspace.keys.find_by(key: str).path == nil %>
						<% if @workspace.keys.find_by(key: str).data_type == "youtube" %>
							{
									id: '<%= @workspace.keys.find_by(key: str).path %>',
									area: 'player_<%= str %>'
							},
						<% end %>
					<% end %>
				<% end %>
			];


			var ytPlayer = [];
			var ytPlaying, ytStop, ytPlay;

			// YouTube Player APIを読み込む
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			function onYouTubeIframeAPIReady() {
				<% @strs.each do |str| %>
					<% unless @workspace.keys.find_by(key: str).path == nil %>
						<% if @workspace.keys.find_by(key: str).data_type == "youtube" %>
							var ytWidth = 0;
							var ytHeight = 0;
							ytPlayer_<%= str %> = new YT.Player('player_<%= str %>', {
								height: ytHeight,
								width: ytWidth,
								videoId: '<%= @workspace.keys.find_by(key: str).path %>',
								playerVars: {
								rel: 0,
								controls: 0,
								autoplay: 0,
								origin: location.protocol + '//' + location.hostname + "/"
								}
							});
						<% end %>
					<% end %>
				<% end %>
			}

			<% @strs.each do |str| %>
				<% unless @workspace.keys.find_by(key: str).path == nil %>
					<% if @workspace.keys.find_by(key: str).data_type == "youtube" %>

						function stopVideo_<%= str %>() {
							ytPlayer_<%= str %>.pauseVideo();
						}
						function playVideo_<%= str %>() {
							ytPlayer_<%= str %>.seekTo(0);
							ytPlayer_<%= str %>.playVideo();
						}

					<% end %>
				<% end %>
			<% end %>

			function getKey (e) {
					var location = e.location;
					var selector;
					if (location === KeyboardEvent.DOM_KEY_LOCATION_RIGHT) {
							selector = ['[data-key="' + e.keyCode + '-R"]']
					} else {
							var code = e.keyCode || e.which;
							selector = [
									'[data-key="' + code + '"]',
									'[data-char*="' + encodeURIComponent(String.fromCharCode(code)) + '"]'
							].join(',');
					}
					return document.querySelector(selector);
			}

			function pressKey (char) {
					var key = document.querySelector('[data-char*="' + char.toUpperCase() + '"]');
					if (!key) {
							return console.warn('No key for', char);
					}
					key.setAttribute('data-pressed', 'on');
					setTimeout(function () {
							key.removeAttribute('data-pressed');
					}, 200);
			}

			document.body.addEventListener('keydown', function (e) {
					var key = getKey(e);
					if (!key) {
							return console.warn('No key for', e.keyCode);
					}

					key.setAttribute('data-pressed', 'on');
			});

			document.body.addEventListener('keyup', function (e) {
					var key = getKey(e);
					key && key.removeAttribute('data-pressed');
			});

			function size () {
					var size = keyboard.parentNode.clientWidth / 60;
					keyboard.style.fontSize = size + 'px';
			}

			var keyboard = document.querySelector('.keyboard');
			window.addEventListener('resize', function (e) {
					size();
			});
			size();
		</script>

    <script>
			<% @strs.each do |str| %>
				<% unless @workspace.keys.find_by(key: str).path == nil %>
					<% if @workspace.keys.find_by(key: str).data_type == "cloudinary" %>
						var msc_<%= str %>;
					<% end %>
				<% end %>
			<% end %>

			function preload() {
				<% @strs.each do |str| %>
					<% unless @workspace.keys.find_by(key: str).path == nil %>
						<% if @workspace.keys.find_by(key: str).data_type == "cloudinary" %>
							msc_<%= str %> = loadSound('<%= @workspace.keys.find_by(key: str).path %>');
						<% end %>
					<% end %>
				<% end %>
			}

			function setup() {
				createCanvas(0, 0);
			}

			function draw() {
				<% @strs.each do |str| %>
					<% unless @workspace.keys.find_by(key: str).path == nil %>
					var elem_<%= str %> = document.getElementById("<%= str %>")
						<% if @workspace.keys.find_by(key: str).data_type == "cloudinary" %>
							if (msc_<%= str %>.isPlaying()) {

								// 再生中はボタンを変化させる
								elem_<%= str %>.style.background = '#fff7ee';
								elem_<%= str %>.style.color = '#333';

							} else {

									elem_<%= str %>.style.background = '#333';
									elem_<%= str %>.style.color = '#fff7ee';
									elem_<%= str %>.style.transition = '0.25s';

							}
						<% elsif @workspace.keys.find_by(key: str).data_type == "youtube" %>
							if (ytPlayer_<%= str %>.getPlayerState() == '1') {

								elem_<%= str %>.style.background = '#fff7ee';
								elem_<%= str %>.style.color = '#333';

							} else {

								elem_<%= str %>.style.background = '#333';
								elem_<%= str %>.style.color = '#fff7ee';
								elem_<%= str %>.style.transition = '0.25s';

							}
						<% end %>
					<% end %>
				<% end %>
			}

			function keyTyped() {
				if (modal_stats === 'close') {
					<% @strs.each do |str| %>
						<% unless @workspace.keys.find_by(key: str).path == nil %>
							<% if @workspace.keys.find_by(key: str).data_type == "cloudinary" %>
								if (key === '<%= str %>') {
									if (msc_<%= str %>.isPlaying()) {

										msc_<%= str %>.play();

									} else {
										msc_<%= str %>.play();
									}
								}
							<% elsif @workspace.keys.find_by(key: str).data_type == "youtube" %>
								if (key === '<%= str %>') {
									playVideo_<%= str %>();
								}
							<% end %>
						<% end %>
					<% end %>
					if (key === ' ') {
						<% @strs.each do |str| %>
							<% unless @workspace.keys.find_by(key: str).path == nil %>
								<% if @workspace.keys.find_by(key: str).data_type == "cloudinary" %>
									msc_<%= str %>.stop();
								<% elsif @workspace.keys.find_by(key: str).data_type == "youtube" %>
									stopVideo_<%= str %>();
								<% end %>
							<% end %>
						<% end %>
					}
				}
			}

			var modal_stats = "close"
			$(function(){
					$('.js-modal-open').each(function(){
							$(this).on('click',function(){
									var target = $(this).data('target');
									var modal = document.getElementById(target);
									modal_stats = "open"
									$(modal).fadeIn();
									return false;
							});
					});
					$('.js-modal-close').on('click',function(){
							$('.js-modal').fadeOut();
							modal_stats = "close"
							return false;
					});
			});

			$(function() {
				$('.share').on('click', function(){
					let text = $('#js-copytext').text();
					let $textarea = $('<textarea></textarea>');
					$textarea.text(text);
					$(this).append($textarea);
					$textarea.select();
					document.execCommand('copy');
					$textarea.remove();
					$(".alert").fadeIn("0.2s");
					setTimeout(function() {
						$('.alert').fadeOut("0.2s");
					}, 2000);
				});
			});

			$(".alert").click(function () {
				$(".alert").fadeOut("0.2s");
			});
		</script>

		<footer>
			<small>© 2020 Keypod by Kazuki Isogai.</small>
		</footer>
  </body>
</html>