<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= @workspace.name %>を編集する - Keypod</title>
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
</head>
<body>

	<% @workspace.keys.each do |key| %>
		<form action="/workspace/edit/<%= @workspace.url %>/<%= key.id %>" method="post" enctype="multipart/form-data">
			<p><%= key.key %></p>
			<input type="file" name="file">
			<input type="text" name="description" value="<%= key.description %>" placeholder="説明">
			<input type="submit" value="アップロード">
		</form>
		<br>
		<form action="/workspace/edit/<%= @workspace.url %>/<%= key.id %>" method="post">
			<input type="text" name="youtube" placeholder="YouTube Video URL">
			<input type="text" name="description" value="<%= key.description %>" placeholder="説明">
			<input type="submit" value="YouTubeでアップロード">
		</form>
		<form action="/workspace/edit/delete/<%= @workspace.url %>/<%= key.id %>" method="post">
			<input type="submit" value="登録したデータを削除">
		</form>
	<% end %>

</body>
</html>
